*{
	padding: 0;
	margin: 0;
	box-shadow: 0;
}
body{

}
nav.nav-bottom {
	background-color:  rgba(125,37,252,1);
	height: 5rem;
  display: none;
  justify-content: space-evenly;
    

}


nav.nav-bottom a {
	

}
nav.nav-bottom a{
	padding: 5px 5px;
	font-size: 1.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid;

	

}

nav.nav-bottom a{
	text-decoration: none;
	color: white;
}
@media (max-width: 520px){
 
	nav.nav-bottom{
  display: flex;
}
}